# Langchain code

Langchain
langchain-core

# open-ai integration
langchain-openai
openai

# anthropic integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable management
python-dotenv

## ML utilites
scikit-learn
numpy

transformers
setence-transformers


